.head {
  cursor: pointer;
}
.head .logo img {
  width: 350px;
}
header {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}
header li {
  margin-right: 30px;
  transition: 0.5s;
}
header li:hover {
  color: crimson;
  cursor: pointer;
}
header a {
  color: #fff;
}
.barIcon {
  font-size: 25px;
  background: none;
  color: #fff;
  display: none;
  border: none;
}

.paddingTB {
  padding: 10px !important;
}

@media screen and (max-width: 768px) {
  .head .ad {
    display: none;
  }
  header .icon {
    display: none;
  }
  header .flex {
    display: none;
  }
  .barIcon {
    display: block;
  }
  header .navbar {
    position: absolute;
    display: block;
    background-color: #fb4c35;
    left: 0;
    top: 21%;
    transition: 0.5s;
    width: 100%;
    height: 45vh;
    z-index: 5;
    padding: 50px;
  }
  header .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header ul li {
    margin-bottom: 30px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_margin ul {
  align-items: center;
  margin-bottom: 0;
}

.login_signup {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.signup {
  color: orangered;
}

.login:hover {
  color: #bfbebe;
}

.signup:hover {
  color: rgb(213, 84, 37);
}

.logout {
  margin: 0px;
  padding: 3px 8px;
  border-radius: 4px;
}

.username {
  display: flex;
  gap: 5px;
}
